stages:
  - install
  - lint
  - test
  - e2e
  - build
  - deploy

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

cache:
  paths:
    - node_modules/
    - .npm/

install_dependencies:
  stage: install
  image: node:18
  script:
    - npm ci --cache .npm --prefer-offline
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 hour
  only:
    - main
    - merge_requests

lint:
  stage: lint
  image: node:18
  script:
    - npm run lint
  needs:
    - install_dependencies
  only:
    - main
    - merge_requests

unit_tests:
  stage: test
  image: node:18
  script:
    - npm run test:coverage
  coverage: '/Lines\s*:\s*(\d+\.?\d*)%/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
    paths:
      - coverage/
    expire_in: 1 week
  needs:
    - install_dependencies
  only:
    - main
    - merge_requests

e2e_tests:
  stage: e2e
  image: mcr.microsoft.com/playwright:v1.40.0-focal
  script:
    - npm ci --cache .npm --prefer-offline
    - npx playwright install --with-deps
    - npm run test:e2e
  artifacts:
    when: on_failure
    paths:
      - playwright-report/
      - test-results/
    expire_in: 1 week
  needs:
    - install_dependencies
  only:
    - main
    - merge_requests

build:
  stage: build
  image: node:18
  script:
    - npm run build
  artifacts:
    paths:
      - build/
    expire_in: 1 week
  needs:
    - unit_tests
    - e2e_tests
  only:
    - main
    - merge_requests

deploy_to_firebase:
  stage: deploy
  image: node:18
  dependencies:
    - build
  script:
    - npm install -g firebase-tools
    - firebase deploy --only hosting --token $FIREBASE_TOKEN --non-interactive
  needs:
    - build
  only:
    - main
  when: on_success
  environment:
    name: production
    url: https://stylelink-74fdf.web.app
